.main {
  /* border: 2px solid black; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;
  position: relative; */
  perspective: 500px;
}
.box-1 {
  /* position: absolute; */
  background-color: red;
  height: 150px;
  width: 150px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  margin-bottom: 10px;
  animation: moving 1000ms alternate infinite;
}
/* .box-2 {
  position: absolute;
  background-color: blue;
  height: 150px;
  width: 150px;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transform-origin: bottom right;
} */

/* .box-1:hover {
  transform: rotateX(45deg);
} */
/* .box-2:hover {
  transform: rotate(45deg);
} */

@keyframes moving {
  0% {
    transform: translate(0px);
  }

  25% {
    transform: translate(250px);
  }

  50% {
    transform: translate(250px, 250px);
  }

  100% {
    transform: translate(-250px, 250px);
  }
}
